@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-sans text-on-surface antialiased;
  }
  :focus-visible {
    @apply outline-none ring-2 ring-primary ring-offset-2;
  }
  .material-symbols-outlined {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    user-select: none;
  }
}
